@model MO.DA.FORM.Models.HomeworkViewModel

@{
    ViewData["Title"] = "Create";
}



<h4>Домашняя работа</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="text" class="control-label"></label>
                <textarea class="form-control" oninput="document.querySelector('input#inp').value = this.value;" placeholder="Введите текст домашнего задания и , при необходимости, прикрепите ссылки на файлы с заданиями" style="height:500px; width:100%;"></textarea>
                <input id="inp" asp-for="text" style="display:none" />
                <span asp-validation-for="text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="subject" class="control-label">Предмет</label>
                <input asp-for="subject" class="form-control" />
                <span asp-validation-for="subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="deadline" class="control-label">Сроки сдачи работы</label>
                <input asp-for="deadline" class="form-control" />
                <span asp-validation-for="deadline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить домашнее задание" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

