@page
@{
    <div style="width: 100%; height: 100%; position: relative; background: #2C2C2C">
        <div style="width: 1602px; height: 1066px; left: -3px; top: 134px; position: absolute">
            <div style="width: 268px; height: 1066px; left: 0px; top: 0px; position: absolute">
                <div style="width: 267px; height: 1066px; left: 0px; top: 0px; position: absolute; background: #8F8F8F; border-top-left-radius: 30px; border-top-right-radius: 30px"></div>
                <div style="width: 264px; height: 38px; left: 4px; top: 112px; position: absolute; text-align: center; color: #4600B8; font-size: 25px; font-family: Inter; font-weight: 400; text-decoration: underline; word-wrap: break-word">ПД</div>
                <div style="width: 264px; height: 881px; left: 4px; top: 185px; position: absolute; text-align: center"><span style="color: black; font-size: 25px; font-family: Inter; font-weight: 400; line-height: 40px; word-wrap: break-word">01.11.2023 последний срок сдачи работы </span><span style="color: black; font-size: 25px; font-family: Inter; font-weight: 400; text-decoration: underline; line-height: 40px; word-wrap: break-word">(Задание на 100 б)</span></div>
                <div style="width: 267px; height: 51.25px; left: 0px; top: 0px; position: absolute">
                    <div style="width: 267px; height: 51.25px; left: 0px; top: 0px; position: absolute; background: #961818; border-top-left-radius: 30px; border-top-right-radius: 30px"></div>
                    <div style="width: 266px; height: 51.25px; left: 1px; top: 0px; position: absolute; text-align: center; color: white; font-size: 25px; font-family: Inter; font-weight: 400; word-wrap: break-word">Понедельник</div>
                </div>
            </div>
            <div style="width: 268px; height: 1066px; left: 267px; top: 0px; position: absolute">
                <div style="width: 267px; height: 1066px; left: 0px; top: 0px; position: absolute; background: #9D9D9D; border-top-left-radius: 30px"></div>
                <div style="width: 266px; height: 266px; left: 0px; top: 88px; position: absolute">
                    <div style="width: 266px; height: 140px; left: 0px; top: 126px; position: absolute; text-align: center"><span style="color: black; font-size: 25px; font-family: Inter; font-weight: 400; word-wrap: break-word">02.11.2023 последний срок сдачи работы </span><span style="color: black; font-size: 25px; font-family: Inter; font-weight: 400; text-decoration: underline; word-wrap: break-word">Решить РГР и 1000р.</span></div>
                    <div style="width: 266px; height: 140px; left: 0px; top: 0px; position: absolute; text-align: center; color: #008078; font-size: 25px; font-family: Inter; font-weight: 400; text-decoration: underline; word-wrap: break-word">Теория вероятностей и математическая статистика</div>
                </div>
                <div style="width: 266px; height: 190px; left: 2px; top: 350px; position: absolute">
                    <div style="width: 266px; height: 140px; left: 0px; top: 50px; position: absolute; text-align: center"><span style="color: black; font-size: 25px; font-family: Inter; font-weight: 400; word-wrap: break-word">12.11.2023 последний срок сдачи работы </span><span style="color: black; font-size: 25px; font-family: Inter; font-weight: 400; text-decoration: underline; word-wrap: break-word">Поймать Арсентьева!</span></div>
                    <div style="width: 266px; height: 190px; left: 0px; top: 0px; position: absolute; text-align: center; color: #FF0000; font-size: 25px; font-family: Inter; font-weight: 400; text-decoration: underline; word-wrap: break-word">Базы данных</div>
                </div>
                <div style="width: 266px; height: 190px; left: 0px; top: 512px; position: absolute">
                    <div style="width: 266px; height: 140px; left: 0px; top: 50px; position: absolute; text-align: center"><span style="color: black; font-size: 25px; font-family: Inter; font-weight: 400; word-wrap: break-word">02.12.2023 последний срок сдачи работы </span><span style="color: black; font-size: 25px; font-family: Inter; font-weight: 400; text-decoration: underline; word-wrap: break-word">Посмотреть английское порно</span></div>
                    <div style="width: 266px; height: 140px; left: 0px; top: 0px; position: absolute; text-align: center; color: #B3004B; font-size: 25px; font-family: Inter; font-weight: 400; text-decoration: underline; word-wrap: break-word">Иностранный язык</div>
                </div>
                <div style="width: 267px; height: 51.25px; left: 0px; top: 0px; position: absolute">
                    <div style="width: 267px; height: 51.25px; left: 0px; top: 0px; position: absolute; background: #DA7F3D; border-top-left-radius: 30px; border-top-right-radius: 30px"></div>
                    <div style="width: 266px; height: 51.25px; left: 1px; top: 0px; position: absolute; text-align: center; color: white; font-size: 25px; font-family: Inter; font-weight: 400; word-wrap: break-word">Вторник</div>
                </div>
            </div>
            <div style="width: 268px; height: 1066px; left: 533px; top: 0px; position: absolute">
                <div style="width: 267px; height: 1066px; left: 1px; top: 0px; position: absolute; background: #8F8F8F; border-top-left-radius: 30px"></div>
                <div style="width: 266px; height: 190px; left: 1px; top: 94px; position: absolute">
                    <div style="width: 266px; height: 140px; left: 0px; top: 50px; position: absolute; text-align: center"><span style="color: black; font-size: 25px; font-family: Inter; font-weight: 400; word-wrap: break-word">12.11.2023 последний срок сдачи работы </span><span style="color: black; font-size: 25px; font-family: Inter; font-weight: 400; text-decoration: underline; word-wrap: break-word">Натереть грибами лысого</span></div>
                    <div style="width: 266px; height: 140px; left: 0px; top: 0px; position: absolute; text-align: center; color: #961818; font-size: 25px; font-family: Inter; font-weight: 400; text-decoration: underline; word-wrap: break-word">Физическая культура</div>
                </div>
                <div style="width: 266px; height: 269px; left: 0px; top: 276px; position: absolute">
                    <div style="width: 266px; height: 140px; left: 0px; top: 129px; position: absolute; text-align: center"><span style="color: black; font-size: 25px; font-family: Inter; font-weight: 400; word-wrap: break-word">12.12.2023 последний срок сдачи работы </span><span style="color: black; font-size: 25px; font-family: Inter; font-weight: 400; text-decoration: underline; word-wrap: break-word">Выучить название предмета</span></div>
                    <div style="width: 266px; height: 140px; left: 0px; top: 0px; position: absolute; text-align: center; color: #A45923; font-size: 25px; font-family: Inter; font-weight: 400; text-decoration: underline; word-wrap: break-word">Анализ экономической эффективности цифровых решений</div>
                </div>
                <div style="width: 266px; height: 274px; left: 2px; top: 569px; position: absolute">
                    <div style="width: 266px; height: 140px; left: 0px; top: 134px; position: absolute; text-align: center"><span style="color: black; font-size: 25px; font-family: Inter; font-weight: 400; word-wrap: break-word">03.11.2023 последний срок сдачи работы </span><span style="color: black; font-size: 25px; font-family: Inter; font-weight: 400; text-decoration: underline; word-wrap: break-word">Подарить лупу деду</span></div>
                    <div style="width: 266px; height: 140px; left: 0px; top: 0px; position: absolute; text-align: center; color: #06501B; font-size: 25px; font-family: Inter; font-weight: 400; text-decoration: underline; word-wrap: break-word">Апаратное обеспечение информационных систем</div>
                </div>
                <div style="width: 267px; height: 51.25px; left: 1px; top: 0px; position: absolute">
                    <div style="width: 267px; height: 51.25px; left: 0px; top: 0px; position: absolute; background: #C5B94F; border-top-left-radius: 30px; border-top-right-radius: 30px"></div>
                    <div style="width: 266px; height: 51.25px; left: 1px; top: 0px; position: absolute; text-align: center; color: white; font-size: 25px; font-family: Inter; font-weight: 400; word-wrap: break-word">Среда</div>
                </div>
            </div>
            <div style="width: 267px; height: 1066px; left: 801px; top: 0px; position: absolute">
                <div style="width: 267px; height: 1066px; left: 0px; top: 0px; position: absolute; background: #9D9D9D; border-top-left-radius: 30px"></div>
                <div style="width: 267px; height: 51.25px; left: 0px; top: 0px; position: absolute">
                    <div style="width: 267px; height: 51.25px; left: 0px; top: 0px; position: absolute; background: #18963B; border-top-left-radius: 30px; border-top-right-radius: 30px"></div>
                    <div style="width: 266px; height: 51.25px; left: 1px; top: 0px; position: absolute; text-align: center; color: white; font-size: 25px; font-family: Inter; font-weight: 400; word-wrap: break-word">Четверг</div>
                </div>
            </div>
            <div style="width: 267px; height: 1066px; left: 1068px; top: 0px; position: absolute">
                <div style="width: 267px; height: 1066px; left: 0px; top: 0px; position: absolute; background: #8F8F8F; border-top-left-radius: 30px"></div>
                <div style="width: 266px; height: 249px; left: 1px; top: 93px; position: absolute">
                    <div style="width: 266px; height: 140px; left: 0px; top: 109px; position: absolute; text-align: center"><span style="color: black; font-size: 25px; font-family: Inter; font-weight: 400; word-wrap: break-word">05.11.2023 последний срок сдачи работы </span><span style="color: black; font-size: 25px; font-family: Inter; font-weight: 400; text-decoration: underline; word-wrap: break-word">Сдать лабы, дом</span></div>
                    <div style="width: 266px; height: 140px; left: 0px; top: 0px; position: absolute; text-align: center; color: #C5B94F; font-size: 25px; font-family: Inter; font-weight: 400; text-decoration: underline; word-wrap: break-word">Объектно-ориентированное программирование</div>
                </div>
                <div style="width: 266px; height: 249px; left: 0px; top: 322px; position: absolute">
                    <div style="width: 266px; height: 140px; left: 0px; top: 109px; position: absolute; text-align: center"><span style="color: black; font-size: 25px; font-family: Inter; font-weight: 400; word-wrap: break-word">24.12.2023 последний срок сдачи работы </span><span style="color: black; font-size: 25px; font-family: Inter; font-weight: 400; text-decoration: underline; word-wrap: break-word">Закадрить преподавательницу</span></div>
                    <div style="width: 266px; height: 140px; left: 0px; top: 0px; position: absolute; text-align: center; color: #B3004B; font-size: 25px; font-family: Inter; font-weight: 400; text-decoration: underline; word-wrap: break-word">Теория информационных процессов и систем</div>
                </div>
                <div style="width: 267px; height: 51.25px; left: 0px; top: 0px; position: absolute">
                    <div style="width: 267px; height: 51.25px; left: 0px; top: 0px; position: absolute; background: #186196; border-top-left-radius: 30px; border-top-right-radius: 30px"></div>
                    <div style="width: 266px; height: 51.25px; left: 1px; top: 0px; position: absolute; text-align: center; color: white; font-size: 25px; font-family: Inter; font-weight: 400; word-wrap: break-word">Пятница</div>
                </div>
            </div>
            <div style="width: 267px; height: 1066px; left: 1335px; top: 0px; position: absolute">
                <div style="width: 267px; height: 1066px; left: 0px; top: 0px; position: absolute; background: #9D9D9D; border-top-left-radius: 30px"></div>
                <div style="width: 267px; height: 51.25px; left: 0px; top: 0px; position: absolute">
                    <div style="width: 267px; height: 51.25px; left: 0px; top: 0px; position: absolute; background: #751896; border-top-left-radius: 30px; border-top-right-radius: 30px"></div>
                    <div style="width: 266px; height: 51.25px; left: 1px; top: 0px; position: absolute; text-align: center; color: white; font-size: 25px; font-family: Inter; font-weight: 400; word-wrap: break-word">Суббота</div>
                </div>
            </div>
        </div>
        <div style="width: 1207px; height: 91px; left: 379px; top: 29px; position: absolute">
            <div style="width: 1207px; height: 89.22px; left: 0px; top: 0px; position: absolute; background: #4A4A4A; border-radius: 30px"></div>
            <div style="width: 1205px; height: 91px; left: 2px; top: 0px; position: absolute; text-align: center; color: white; font-size: 25px; font-family: Inter; font-weight: 400; word-wrap: break-word">Сроки сдачи работ на эту неделю</div>
        </div>
        <div style="width: 303px; height: 82px; left: 49px; top: 38px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
            <img style="width: 303px; height: 82px" src="https://via.placeholder.com/303x82" />
        </div>
    </div>
}
