@model string
@{
    ViewData["Title"] = "Авторизация";
}
<div class="text-center">
    <h1 class="display-4">nigger</h1>
    @using (Html.BeginForm("Authorization", "Home", FormMethod.Post))
    {
        <input type="hidden" value="@ViewBag.Auth" name="Auth" />
        <table>
            <tr>
                <td><p>Введите свой никнейм(псевдоним) </p></td>
                <td><input type="text" name="name" /> </td>
            </tr>
            <tr>
                <td><p>Введите email :</p></td>
                <td><input type="text" name="email" /> </td>
            </tr>
            <tr>
                <td><p>Введите пароль:</p></td>
                <td><input type="text" name="passowrd" /> </td>
            </tr>
            <tr>
                <td><p>Введите группу:</p></td>
                <td><input type="text" name="group" /> </td>
            </tr>
            <tr>
                <td><input type="submit" value="Отправить" /> </td>
                <td></td>
            </tr>
        </table>
    }
    <h1>Model</h1>
</div>