@page
@{
    <div style="width: 100%; height: 100%; position: relative; background: #2C2C2C">
        <div style="width: 980px; height: 240px; left: 600px; top: 623px; position: absolute">
            <div style="width: 980px; height: 190px; left: 0px; top: 50px; position: absolute">
                <div style="width: 980px; height: 190px; left: 0px; top: 0px; position: absolute; background: #9D9D9D; border-top-left-radius: 30px; border-top-right-radius: 30px"></div>
                <div style="width: 940px; height: 25px; left: 21px; top: 55px; position: absolute; text-align: center; color: black; font-size: 25px; font-family: Inter; font-weight: 400; word-wrap: break-word">У этого преподавателя завтра 4 пары в двух группах</div>
                <div style="width: 940px; height: 25px; left: 21px; top: 134px; position: absolute; text-align: center; color: black; font-size: 25px; font-family: Inter; font-weight: 400; text-decoration: underline; word-wrap: break-word">Посмотреть расписание преподавателя</div>
            </div>
            <div style="width: 980px; height: 51px; left: 0px; top: 0px; position: absolute">
                <div style="width: 980px; height: 50px; left: 0px; top: 0px; position: absolute; background: #4A4A4A; border-top-left-radius: 30px; border-top-right-radius: 30px"></div>
                <div style="width: 978.04px; height: 39px; left: 1.96px; top: 12px; position: absolute; text-align: center; color: white; font-size: 25px; font-family: Inter; font-weight: 400; word-wrap: break-word">Расписание пар на завтра</div>
            </div>
        </div>
        <div style="height: 690px; left: 56px; top: 173px; position: absolute">
            <div style="width: 500px; height: 381.04px; left: 0px; top: 308.96px; position: absolute">
                <div style="width: 500px; height: 381.04px; left: 0px; top: 0px; position: absolute; background: #9D9D9D; border-top-left-radius: 30px; border-top-right-radius: 30px; border: 1px black solid"></div>
                <div style="width: 499px; height: 105.04px; left: 0px; top: 140.06px; position: absolute; text-align: center; color: black; font-size: 25px; font-family: Inter; font-weight: 400; word-wrap: break-word">Ссылка на Дискорд</div>
            </div>
            <div style="width: 500px; height: 257.46px; left: 0px; top: 51.49px; position: absolute">
                <div style="width: 500px; height: 257.46px; left: 0px; top: 0px; position: absolute; background: #9D9D9D; border: 1px black solid"></div>
                <div style="width: 499px; height: 105.04px; left: 0px; top: 76.21px; position: absolute; text-align: center; color: black; font-size: 25px; font-family: Inter; font-weight: 400; word-wrap: break-word">Ссылка на Личный кабинет</div>
            </div>
            <div style="width: 500px; height: 52.52px; left: 0px; top: 0px; position: absolute">
                <div style="width: 500px; height: 51.49px; left: 0px; top: 0px; position: absolute; background: #4A4A4A; border-top-left-radius: 25px; border-top-right-radius: 25px"></div>
                <div style="width: 499px; height: 40.16px; left: 1px; top: 12.36px; position: absolute; text-align: center; color: white; font-size: 25px; font-family: Inter; font-weight: 400; word-wrap: break-word">Контактная информация</div>
            </div>
        </div>
        <img style="width: 303px; height: 82px; left: 55px; top: 41px; position: absolute" src="https://via.placeholder.com/303x82" />
        <div style="width: 884px; height: 430px; left: 636px; top: 160px; position: absolute">
            <div style="width: 400px; height: 236px; left: 0px; top: 117px; position: absolute; text-align: center; color: white; font-size: 65px; font-family: Inter; font-weight: 400; line-height: 30px; word-wrap: break-word">Поляков<br /><br /><br /> Тимофей <br /><br /><br />Юрьевич<br /></div>
            <img style="width: 403px; height: 430px; left: 481px; top: 0px; position: absolute" src="https://via.placeholder.com/403x430" />
        </div>
    </div>
}
