@{
    ViewData["Title"] = "Starosta_and_zam";
}
<script src="https://secure.exportkit.com/cdn/js/ek_googlefonts.js?v=6"></script>
<h1>Teacher</h1>
<link rel="StyleSheet" href="~/css/Starosta_and_zam.css" />

<body>
	<div id="content-container">
		<div nameid="Home (   )" id="_bg__home__________________________"></div>

		<div id="_______" nameid="">
			<div nameid="" id="_bg__________ek1"></div>

			<div id="______________" nameid=" ">
				<div nameid=" " id="_bg_________________ek1"></div>
				<div nameid="Rectangle 2" id="rectangle_2"></div>
				<div nameid="    2  " id="________________2_________________">
					<span class="char">У Вас на завтра 2 домашних задания</span>
				</div>
				<div nameid="   " id="____________________________________">
					<span class="char">Посмотреть доступную домашнюю работу</span>
				</div>

			</div>

			<div id="_________" nameid="">
				<div nameid="" id="_bg____________ek1"></div>
				<img src="~/img/__________ek2.png" nameid="" id="__________ek2" />
				<div nameid="   " id="_________________________">
					<span class="char">Домашняя работа на завтра</span>
				</div>

			</div>

		</div>

		<div id="___________" nameid=" ">
			<div nameid=" " id="_bg______________ek1"></div>

			<div id="_____________" nameid=" ">
				<div nameid=" " id="_bg________________ek1"></div>
				<div nameid="Rectangle 2" id="rectangle_2_ek1"></div>
				<div nameid="     2 " id="____________________________2______">
					<span class="char">Завтра выходит срок сдачи у 2 работ</span>
				</div>
				<div nameid=" " id="___________________">
					<span class="char">Посмотреть дедлайны</span>
				</div>

			</div>

			<div id="__________ek3" nameid="">
				<div nameid="" id="_bg____________ek4"></div>
				<img src="~/img/__________ek5.png" nameid="" id="__________ek5" />
				<div nameid="  " id="_________________">
					<span class="char">Сроки сдачи работ</span>
				</div>

			</div>

		</div>

		<div id="________ek2" nameid="">
			<div nameid="" id="_bg__________ek3"></div>

			<div id="_____" nameid="">
				<div nameid="" id="_bg________ek1"></div>
				<div nameid="Rectangle 2" id="rectangle_2_ek2"></div>

				<div id="______ek2" nameid="">
					<div nameid="" id="_bg________ek3"></div>
					<div nameid="Rectangle 1" id="rectangle_1"></div>
					<div nameid="   " id="________________________________">
						<span class="char">Выберете преподавателя из списка</span>
					</div>
					<img src="~/img/polygon_1.png" nameid="Polygon 1" id="polygon_1" />

				</div>

			</div>

			<div id="__________ek6" nameid="">
				<div nameid="" id="_bg____________ek7"></div>
				<img src="~/img/__________ek8.png" nameid="" id="__________ek8" />
				<div nameid="   " id="__________________________________">
					<span class="char">Найти информацию про преподавателя</span>
				</div>

			</div>

		</div>
		<div nameid=",   " id="____________________________________________">
			<span class="char">Здравствуйте, Таран Александрович Александрович</span>
		</div>
		<img src="~/img/top_sh_1.png" nameid="top_sh 1" id="top_sh_1" />

		<div id="_______________ek2" nameid=" ">
			<div nameid=" " id="_bg_________________ek3"></div>
			<div nameid="Rectangle 2" id="rectangle_2_ek3"></div>
			<div nameid="  " id="____________________________">
				<span class="char">Опубликовать домашнюю работу</span>
			</div>

		</div>

		<div id="_______________ek4" nameid=" ">
			<div nameid=" " id="_bg_________________ek5"></div>
			<div nameid="Rectangle 2" id="rectangle_2_ek4"></div>
			<div nameid=" " id="____________________">
				<span class="char">Опубликовать новость</span>
			</div>

		</div>

		<div id="____________" nameid=" ">
			<div nameid=" " id="_bg_______________ek1"></div>
			<img src="~/img/_______________.png" nameid=" " id="_______________" />

			<div id="________3" nameid=" 3">
				<div nameid=" 3" id="_bg__________3_ek1"></div>
				<div nameid="Rectangle 4" id="rectangle_4"></div>
				<div nameid="   221-371    " id="__________________221_371___________________________">
					<span class="char">Внимание у группы </span> 221-371 <br /><br /><span class="char">Каникулы с завтрашнего дня!</span>!
				</div>

			</div>

			<div id="________2" nameid=" 2">
				<div nameid=" 2" id="_bg__________2_ek1"></div>
				<div nameid="Rectangle 3" id="rectangle_3"></div>
				<div nameid="-   !" id="_____________________________________1">
					<span class="char">Какая-то стажировка</span> <br /><br /><span class="char">ОЧЕНЬ ИНТЕРЕСНО!!</span>!
				</div>

			</div>

			<div id="________1" nameid=" 1">
				<div nameid=" 1" id="_bg__________1_ek1"></div>
				<div nameid="Rectangle 2" id="rectangle_2_ek5"></div>
				<div nameid=", ,  !" id="_________________________________________">
					<span class="char">Олимпиады, олимпиады, конкурсы</span> <br /><br /><span class="char">Приходите</span>!
				</div>

			</div>

			<div id="__________ek9" nameid="">
				<div nameid="" id="_bg____________ek10"></div>
				<img src="~/img/__________ek11.png" nameid="" id="__________ek11" />
				<div nameid="" id="________ek4">
					<span class="char">Новости</span>
				</div>

			</div>

		</div>

		<div id="______ek4" nameid="">
			<div nameid="" id="_bg________ek5"></div>
			<div nameid="Rectangle 1" id="rectangle_1_ek1"></div>
			<div nameid="  ..." id="__________________ek1">
				<span class="char">Поиск по сайту</span>...
			</div>

		</div>

		<div id="______" nameid="">
			<div nameid="" id="_bg_________ek1"></div>

			<div id="________ek5" nameid="">
				<div nameid="" id="_bg__________ek6"></div>
				<div nameid="Rectangle 2" id="rectangle_2_ek6"></div>
				<a id="____________________1_link" href="__________.html">
					<div nameid=" " id="____________________1">
						<span class="char">Расписание занятий</span>
					</div>
				</a>

			</div>

			<div id="_______ek2" nameid="">
				<div nameid="" id="_bg_________ek3"></div>
				<div nameid="Rectangle 2" id="rectangle_2_ek7"></div>
				<a id="___________________ek2_link" href="___________.html">
					<div nameid=" " id="___________________ek2">
						<span class="char">Расписание сессии</span>
					</div>
				</a>

			</div>

			<a id="____cls_a" _par="" href="___.html">
				<div nameid="" id="_bg_______ek1"></div>
				<div nameid="Rectangle 2" id="rectangle_2_ek8"></div>
				<div nameid="  " id="______________ek2">
					<span class="char">Перейти в СДО</span>
				</div>

			</a>

			<a id="___cls_a" _par="" href="__.html">
				<div nameid="" id="_bg______ek1"></div>
				<div nameid="Rectangle 2" id="rectangle_2_ek9"></div>
				<div nameid=" " id="_______________ek6">
					<span class="char">Личный кабинет</span>
				</div>

			</a>

		</div>

	</div>
	<script>var specialChars = document.querySelectorAll("span.char"); for (var c = 0; c < specialChars.length; c++) { specialChars[c].innerHTML = decodeURIComponent(specialChars[c].innerHTML); }</script>
</body>
