@page
@{
    <div style="width: 100%; height: 100%; position: relative; background: #2C2C2C">
        <div style="width: 980px; height: 240px; left: 575px; top: 471px; position: absolute">
            <div style="width: 980px; height: 190px; left: 0px; top: 50px; position: absolute">
                <div style="width: 980px; height: 190px; left: 0px; top: 0px; position: absolute; background: #9D9D9D; border-top-left-radius: 30px; border-top-right-radius: 30px; border: 2px black solid"></div>
                <div style="width: 940px; height: 25px; left: 21px; top: 55px; position: absolute; text-align: center; color: black; font-size: 25px; font-family: Inter; font-weight: 400; word-wrap: break-word">У Вас на завтра 2 домашних задания</div>
                <div style="width: 940px; height: 25px; left: 21px; top: 134px; position: absolute; text-align: center; color: black; font-size: 25px; font-family: Inter; font-weight: 400; text-decoration: underline; word-wrap: break-word">Посмотреть доступную домашнюю работу</div>
            </div>
            <div style="width: 980px; height: 51px; left: 0px; top: 0px; position: absolute">
                <div style="width: 980px; height: 50px; left: 0px; top: 0px; position: absolute; background: #4A4A4A; border-top-left-radius: 30px; border-top-right-radius: 30px"></div>
                <div style="width: 978.04px; height: 39px; left: 1.96px; top: 12px; position: absolute; text-align: center; color: white; font-size: 25px; font-family: Inter; font-weight: 400; word-wrap: break-word">Домашняя работа на завтра</div>
            </div>
        </div>
        <div style="width: 980px; height: 240px; left: 575px; top: 736px; position: absolute">
            <div style="width: 980px; height: 190px; left: 0px; top: 50px; position: absolute">
                <div style="width: 980px; height: 190px; left: 0px; top: 0px; position: absolute; background: #9D9D9D; border-top-left-radius: 30px; border-top-right-radius: 30px; border: 2px black solid"></div>
                <div style="width: 940px; height: 25px; left: 20px; top: 59px; position: absolute; text-align: center; color: black; font-size: 25px; font-family: Inter; font-weight: 400; word-wrap: break-word">Завтра выходит срок сдачи у 2 работ</div>
                <div style="width: 940px; height: 25px; left: 21px; top: 134px; position: absolute; text-align: center; color: black; font-size: 25px; font-family: Inter; font-weight: 400; text-decoration: underline; word-wrap: break-word">Посмотреть дедлайны</div>
            </div>
            <div style="width: 980px; height: 51px; left: 0px; top: 0px; position: absolute">
                <div style="width: 980px; height: 50px; left: 0px; top: 0px; position: absolute; background: #4A4A4A; border-top-left-radius: 30px; border-top-right-radius: 30px"></div>
                <div style="width: 978.04px; height: 39px; left: 1.96px; top: 12px; position: absolute; text-align: center; color: white; font-size: 25px; font-family: Inter; font-weight: 400; word-wrap: break-word">Сроки сдачи работ</div>
            </div>
        </div>
        <div style="left: 810px; top: 301px; position: absolute; text-align: right; color: white; font-size: 40px; font-family: Inter; font-weight: 400; line-height: 56px; word-wrap: break-word">
            Здравствуйте,
            КОЛЯДОВА ИРИНА АЛЕКСАНДРОВНА
        </div>
        <div style="width: 501px; height: 920px; left: 49px; top: 251px; position: absolute">
            <div style="width: 500px; height: 920px; left: 1px; top: 0px; position: absolute"></div>
            <div style="width: 500px; height: 250px; left: 0px; top: 670px; position: absolute">
                <div style="width: 500px; height: 250px; left: 0px; top: 0px; position: absolute; background: #9D9D9D; border-top-left-radius: 30px; border-top-right-radius: 30px; border: 1px black solid"></div>
                <div style="width: 499px; height: 102px; left: 1px; top: 92px; position: absolute; text-align: center; color: black; font-size: 25px; font-family: Inter; font-weight: 400; word-wrap: break-word">Внимание у группы 221-371<br /><br />Каникулы с завтрашнего дня</div>
            </div>
            <div style="width: 500px; height: 370px; left: 1px; top: 300px; position: absolute">
                <div style="width: 500px; height: 370px; left: 0px; top: 0px; position: absolute; background: #9D9D9D; border: 1px black solid"></div>
                <div style="width: 499px; height: 102px; left: 0px; top: 136px; position: absolute; text-align: center; color: black; font-size: 25px; font-family: Inter; font-weight: 400; word-wrap: break-word">Какая-то стажировка<br /><br />ОЧЕНЬ ИНТЕРЕСНО!</div>
            </div>
            <div style="width: 500px; height: 250px; left: 1px; top: 50px; position: absolute">
                <div style="width: 500px; height: 250px; left: 0px; top: 0px; position: absolute; background: #9D9D9D; border: 1px black solid"></div>
                <div style="width: 499px; height: 102px; left: 0px; top: 74px; position: absolute; text-align: center; color: black; font-size: 25px; font-family: Inter; font-weight: 400; word-wrap: break-word">Олимпиады, олимпиады, конкурсы<br /><br />Приходите!</div>
            </div>
            <div style="width: 500px; height: 51px; left: 1px; top: 0px; position: absolute">
                <div style="width: 500px; height: 50px; left: 0px; top: 0px; position: absolute; background: #4A4A4A; border-top-left-radius: 25px; border-top-right-radius: 25px"></div>
                <div style="width: 499px; height: 39px; left: 1px; top: 12px; position: absolute; text-align: center; color: white; font-size: 25px; font-family: Inter; font-weight: 400; word-wrap: break-word">Новости</div>
            </div>
        </div>
        <img style="width: 303px; height: 82px; left: 55px; top: 41px; position: absolute" src="https://via.placeholder.com/303x82" />
        <div style="width: 245px; height: 63.06px; left: 50px; top: 154px; position: absolute">
            <div style="width: 245px; height: 63.06px; left: 0px; top: 0px; position: absolute; background: #4A4A4A; border-radius: 30px"></div>
            <div style="width: 245px; height: 63px; left: 0px; top: 0px; position: absolute; text-align: center; color: #9D9D9D; font-size: 25px; font-family: Inter; font-weight: 400; word-wrap: break-word">Поиск по сайту...</div>
        </div>
        <div style="width: 1237px; height: 65px; left: 321px; top: 154px; position: absolute">
            <div style="width: 332px; height: 63px; left: 272px; top: 2px; position: absolute">
                <div style="width: 332px; height: 63px; left: 0px; top: 0px; position: absolute; background: #4A4A4A; border-radius: 30px"></div>
                <div style="width: 332px; height: 63px; left: 0px; top: 0px; position: absolute; text-align: center; color: white; font-size: 25px; font-family: Inter; font-weight: 400; text-decoration: underline; word-wrap: break-word">Расписание занятий</div>
            </div>
            <div style="width: 332px; height: 63px; left: 627px; top: 2px; position: absolute">
                <div style="width: 332px; height: 63px; left: 0px; top: 0px; position: absolute; background: #4A4A4A; border-radius: 30px"></div>
                <div style="width: 332px; height: 61px; left: 0px; top: 0px; position: absolute; text-align: center; color: white; font-size: 25px; font-family: Inter; font-weight: 400; text-decoration: underline; word-wrap: break-word">Расписание сессии</div>
            </div>
            <div style="width: 248px; height: 63px; left: 0px; top: 2px; position: absolute">
                <div style="width: 248px; height: 63px; left: 0px; top: 0px; position: absolute; background: #4A4A4A; border-radius: 30px"></div>
                <div style="width: 248px; height: 63px; left: 0px; top: 0px; position: absolute; text-align: center; color: white; font-size: 25px; font-family: Inter; font-weight: 400; text-decoration: underline; word-wrap: break-word">Перейти в СДО</div>
            </div>
            <div style="width: 256px; height: 63px; left: 981px; top: 0px; position: absolute">
                <div style="width: 256px; height: 63px; left: 0px; top: 0px; position: absolute; background: #4A4A4A; border-radius: 30px"></div>
                <div style="width: 256px; height: 61px; left: 0px; top: 2px; position: absolute; text-align: center; color: white; font-size: 25px; font-family: Inter; font-weight: 400; text-decoration: underline; word-wrap: break-word">Личный кабинет</div>
            </div>
        </div>
        <div style="width: 980px; height: 167px; left: 578px; top: 1004px; position: absolute">
            <div style="width: 980px; height: 49.02px; left: 0px; top: 0px; position: absolute; background: #4A4A4A; border-top-left-radius: 30px; border-top-right-radius: 30px"></div>
            <div style="width: 980px; height: 120px; left: 0px; top: 47px; position: absolute">
                <div style="width: 980px; height: 120px; left: 0px; top: 0px; position: absolute; background: #9D9D9D; border-top-left-radius: 30px; border-top-right-radius: 30px; border: 1px black solid"></div>
                <div style="width: 940px; height: 67px; left: 18px; top: 31px; position: absolute">
                    <div style="width: 940px; height: 65px; left: 0px; top: 0px; position: absolute; background: #D9D9D9; border-radius: 30px"></div>
                    <div style="width: 900px; height: 50px; left: 20px; top: 17px; position: absolute; color: #4A4A4A; font-size: 25px; font-family: Inter; font-weight: 400; word-wrap: break-word">Выберете преподавателя из списка</div>
                </div>
            </div>
            <div style="width: 978px; height: 50px; left: 2px; top: 0px; position: absolute; text-align: center; color: white; font-size: 25px; font-family: Inter; font-weight: 400; word-wrap: break-word">Найти информацию про преподавателя</div>
        </div>
    </div>
}
