@model IEnumerable<MO.DA.FORM.Models.Post>
@{
    <link rel="stylesheet" href="~/css/lk.css"/>
    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">Новости</button>
    <a asp-controller="Users" asp-action="Logout" style="float: right;">
        <button class="btn btn-danger" type="button">Выйти из аккаунта</button>
    </a>
    
    

    <div class="offcanvas offcanvas-start" style="background-color:#565656; width:300px;" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Что-то новое и интересое</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Закрыть"></button>
        </div>
        <div class="offcanvas-body">
            @foreach (var item in Model)
            {
                <div class="post">

                    <h1>
                        @Html.DisplayFor(modelItem => item.type)
                    </h1>
                    <p>
                        @Html.DisplayFor(modelItem => item.text)
                    </p>
                    <div>
                        @{
                            if (item.file != null)
                            {
                                @Html.Raw("<img style='display: block; width: auto; height: auto; max-width: 100%; box-shadow: 3px 4px 5px #000;' src=\"data:image/jpeg;base64," + Convert.ToBase64String(item.file) + "\" />")
                                ;
                            }
                            else
                            {
                                <p>картинки нет и не будет </p>
                            }

                        }
                    </div>
                    
                    <p id="datetime">
                        Дата: @Html.DisplayFor(modelItem => item.datetime)
                    </p>
                    <hr class="hr" />
                </div>
            }
        </div>
    </div>

    <hr class="hr" />
    <div class="lk-chapter">
        <h2>Домашнее задание</h2>
        <!--<button onclick="document.location='путь до формы' class="btn btn-secondary">Добавить обязательные задания</button>-->
        <button class="btn btn-secondary">Добавить обязательные задания</button>
    </div>
    <hr class="hr"/>
    <div class="lk-chapter">
        <h2>Дедлайны по дз</h2>
        <button class="btn btn-secondary">Добавить срок сдачи дз</button>
    </div>
   
}
