
@{
    ViewData["Title"] = "Teacher";
}
<script src="https://secure.exportkit.com/cdn/js/ek_googlefonts.js?v=6"></script>
<h1>Teacher</h1>
<link rel="StyleSheet" href="~/css/Teacher.css" />

<body>
	<div id="content-container">
		<div nameid="Home ()" id="_bg__home_________"></div>

		<div id="__________" nameid="">
			<div nameid="" id="_bg_____________ek1"></div>

			<div id="___________ek2" nameid="">
				<div nameid="" id="_bg_____________ek3"></div>
				<div nameid="Rectangle 2" id="rectangle_2"></div>
				<div nameid="   4 " id="_____________4_____">
					<span style="text-align:center;" class="char">Завтра у Вас 4 пары</span>
				</div>
				<div nameid=" " id="_____________________">
					<span class="char">Посмотреть расписание</span>
				</div>

			</div>

			<div id="_________" nameid="">
				<div nameid="" id="_bg____________ek1"></div>
				<img src="~/img/__________ek2.png" nameid="" id="__________ek2" />
				<div nameid="  " id="____________________">
					<span class="char">Рассписание на завтра</span>
				</div>

			</div>

		</div>

		<div id="______" nameid="">
			<div nameid="" id="_bg_________ek1"></div>

			<div id="_______________" nameid=" ">
				<div nameid=" " id="_bg__________________ek1"></div>
				<div nameid="Rectangle 2" id="rectangle_2_ek1"></div>
				<div nameid="  " id="_________________________">
					<span class="char">Назначить старосту группы </span>
				</div>

			</div>

			<div id="____________" nameid=" ">
				<div nameid=" " id="_bg_______________ek1"></div>
				<div nameid="Rectangle 2" id="rectangle_2_ek2"></div>
				<div nameid="    " id="_____________________________________">
					<span class="char">Установить сроки сдачи домашних работ </span>
				</div>

			</div>

			<div id="______________" nameid=" ">
				<div nameid=" " id="_bg_________________ek1"></div>
				<div nameid="Rectangle 2" id="rectangle_2_ek3"></div>
				<div nameid="  " id="____________________________">
					<span class="char">Опубликовать домашнюю работу</span>
				</div>

			</div>

			<div id="_______________ek2" nameid=" ">
				<div nameid=" " id="_bg_________________ek3"></div>
				<div nameid="Rectangle 2" id="rectangle_2_ek4"></div>
				<div nameid=" " id="_____________________ek1">
					<span class="char">Опубликовать </span> <span class="char">новость </span>
				</div>

			</div>

		</div>
		<div nameid=",   " id="_________________________________________">
			<span class="char">Здравствуйте, </span> <span class="char">Княжев </span> <span class="char">Павел </span> <span class="char">Александрович</span>
		</div>

		<div id="_____________ek2" nameid=" ">
			<div nameid=" " id="_bg_______________ek3"></div>
			<img src="~/img/________________ek2.png" nameid=" " id="________________ek2" />

			<div id="________3" nameid=" 3">
				<div nameid=" 3" id="_bg__________3_ek1"></div>
				<div nameid="Rectangle 4" id="rectangle_4"></div>
				<div nameid="   221-371    " id="__________________221_371___________________________">
					<span class="char">Внимание у группы </span> 221-371 <br /><br /><span class="char">Каникулы с завтрашнего дня!</span>!
				</div>

			</div>

			<div id="________2" nameid=" 2">
				<div nameid=" 2" id="_bg__________2_ek1"></div>
				<div nameid="Rectangle 3" id="rectangle_3"></div>
				<div nameid="-   !" id="____________________________________">
					<span class="char">Какая-то стажировка</span> <br /><br /><span class="char">ОЧЕНЬ ИНТЕРЕСНО!!</span>!
				</div>

			</div>

			<div id="________1" nameid=" 1">
				<div nameid=" 1" id="_bg__________1_ek1"></div>
				<div nameid="Rectangle 2" id="rectangle_2_ek5"></div>
				<div nameid=", ,  !" id="__________________________________________1">
					<span class="char">Олимпиады, олимпиады, конкурсы</span> <br /><br /><span class="char">Приходите</span>!
				</div>

			</div>

			<div id="__________ek3" nameid="">
				<div nameid="" id="_bg____________ek4"></div>
				<img src="~/img/__________ek5.png" nameid="" id="__________ek5" />
				<div nameid="" id="_______">
					<span class="char">Новости</span>
				</div>

			</div>

		</div>


		<div id="_____" nameid="" component="true">
			<div nameid="" id="_bg________ek1"></div>
			<div nameid="Rectangle 1" id="rectangle_1"></div>
			<div nameid="  ..." id="__________________ek1">
				<span class="char">Поиск по сайту</span>...
			</div>

		</div>

		

	</div>
</body>