html {
    font-size: 14px;
    background-color: #2C2C2C;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.heg-nav {
    margin-top: 300px;
}

.nav_item {
    
    color: #FFFFFF;
}
.nav-link text-dark {
    border-radius: 30px;
    overflow: hidden;
    font-family: Inter;
    font-size: 25px;
    line-height: 63.5px;
    text-decoration: underline;
    text-align: center;
}