



#content-container {
    display: block;
    width: 1600px;
    width: 1600px;
    height: 1200px;
    overflow: hidden;
    display: block;
}

#_bg__home_________ {
   
    width: 1600px;
    height: 1200px;
    background: rgba(43.76,43.76,43.76,1);
}

#__________ {
   
    width: 980px;
    height: 218px;
}

#_bg_____________ek1 {
    top: -493px;
 
    width: 980px;
    height: 218px;
    background: #;
}

#___________ek2 {
    top: 45px;
    : 0px;
    width: 980px;
    height: 172.58px;
}

#_bg_____________ek3 {
    top: -538px;
    : -581px;
    width: 980px;
    height: 172.58px;
    background: #;
}


#rectangle_2 {
    top: -2px;
    : -2px;
    width: 980px;
    height: 172.58px;
    border: 2px solid #000000;
    background: rgba(157.25,157.25,157.25,1);
}


#_____________4_____ {
    top: 56px;
    : 16px;
    width: 948px;
    height: 30.21px;
    overflow: hidden;
    font-family: Inter;
    font-size: 25px;
    text-align: center;
    color: #000000;
}


#_____________________ {
    top: 122px;
    : 17px;
    width: 948px;
    height: 30.21px;
    overflow: hidden;
    font-family: Inter;
    font-size: 25px;
    text-decoration: underline;
    text-align: center;
    color: #000000;
}

#_________ {
    top: 0px;
    : 0px;
    width: 980px;
    height: 46.33px;

}

#_bg____________ek1 {
    top: -493px;
    : -581px;
    width: 980px;
    height: 46.33px;
    background: #;
}


#__________ek2 {
    top: 0px;
    : 0px;
    width: 980px;
    height: 45.42px;
}


#____________________ {
    top: 11px;
    : -2px;
    width: 986px;
    height: 42.92px;
    overflow: hidden;
    font-family: Inter;
    font-size: 25px;
    text-align: center;
    color: #FFFFFF;
}

#______ {
    top: 752px;
    : 580px;
    width: 981px;
    height: 419px;
}

#_bg_________ek1 {
    top: -752px;
    : -580px;
    width: 981px;
    height: 419px;
    background: #;
}

#_______________ {
    top: 345px;
    : 1px;
    width: 980px;
    height: 74px;
}

#_bg__________________ek1 {
    top: -1097px;
    : -581px;
    width: 980px;
    height: 74px;
    background: #;
}


#rectangle_2_ek1 {
    top: 0px;
    : 0px;
    width: 980px;
    height: 74px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    background: rgba(73.51,73.51,73.51,1);
}


#_________________________ {
    top: 11px;
    : -7px;
    width: 987px;
    height: 75px;
    overflow: hidden;
    font-family: Inter;
    font-size: 40px;
    text-align: center;
    color: #FFFFFF;
}

#____________ {
    top: 230px;
    : 1px;
    width: 980px;
    height: 74px;
}

#_bg_______________ek1 {
    top: -982px;
    : -581px;
    width: 980px;
    height: 74px;
    background: #;
}


#rectangle_2_ek2 {
    top: 0px;
    : 0px;
    width: 980px;
    height: 74px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    background: rgba(73.51,73.51,73.51,1);
}


#_____________________________________ {
    top: 11px;
    : -7px;
    width: 987px;
    height: 75px;
    overflow: hidden;
    font-family: Inter;
    font-size: 40px;
    text-align: center;
    color: #FFFFFF;
}

#______________ {
    top: 115px;
    : 1px;
    width: 980px;
    height: 74px;
}

#_bg_________________ek1 {
    top: -867px;
    : -581px;
    width: 980px;
    height: 74px;
    background: #;
}


#rectangle_2_ek3 {
    top: 0px;
    : 0px;
    width: 980px;
    height: 74px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    background: rgba(73.51,73.51,73.51,1);
}


#____________________________ {
    top: 11px;
    : -7px;
    width: 987px;
    height: 75px;
    overflow: hidden;
    font-family: Inter;
    font-size: 40px;
    text-align: center;
    color: #FFFFFF;
}

#_______________ek2 {
    top: 0px;
    : 0px;
    width: 980px;
    height: 74px;
}

#_bg_________________ek3 {
    top: -752px;
    : -580px;
    width: 980px;
    height: 74px;
    background: #;
}


#rectangle_2_ek4 {
    top: 0px;
    : 0px;
    width: 980px;
    height: 74px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    background: rgba(73.51,73.51,73.51,1);
}


#_____________________ek1 {
    top: 11px;
    : -7px;
    width: 987px;
    height: 75px;
    overflow: hidden;
    font-family: Inter;
    font-size: 40px;
    text-align: center;
    color: #FFFFFF;
}


#_________________________________________ {
    top: 322px;
    : 952px;
    width: 607px;
    height: 124px;
    overflow: hidden;
    font-family: Inter;
    font-size: 40px;
    text-align: right;
    line-height: 56px;
    color: #FFFFFF;
}

#_____________ek2 {
    top: 251px;
    : 49px;
    width: 501px;
    height: 920px;
}

#_bg_______________ek3 {
    top: -251px;
    : -49px;
    width: 501px;
    height: 920px;
    background: #;
}


#________________ek2 {
    top: 0px;
    : 1px;
    width: 500px;
    height: 920px;
}

#________3 {
    top: 670px;
    : 0px;
    width: 500px;
    height: 250px;
}

#_bg__________3_ek1 {
    top: -921px;
    : -49px;
    width: 500px;
    height: 250px;
    background: #;
}


#rectangle_4 {
    top: -1px;
    : -1px;
    width: 500px;
    height: 250px;
    border: 1px solid #000000;
    background: rgba(157.25,157.25,157.25,1);
}


#__________________221_371___________________________ {
    top: 92px;
    : -3px;
    width: 507px;
    height: 109.5px;
    overflow: hidden;
    font-family: Inter;
    font-size: 25px;
    text-align: center;
    color: #000000;
}

#________2 {
    top: 300px;
    : 1px;
    width: 500px;
    height: 370px;
}

#_bg__________2_ek1 {
    top: -551px;
    : -50px;
    width: 500px;
    height: 370px;
    background: #;
}


#rectangle_3 {
    top: -1px;
    : -1px;
    width: 500px;
    height: 370px;
    border: 1px solid #000000;
    background: rgba(157.25,157.25,157.25,1);
}


#____________________________________ {
    top: 136px;
    : -4px;
    width: 507px;
    height: 109.5px;
    overflow: hidden;
    font-family: Inter;
    font-size: 25px;
    text-align: center;
    color: #000000;
}

#________1 {
    top: 50px;
    : 1px;
    width: 500px;
    height: 250px;
}

#_bg__________1_ek1 {
    top: -301px;
    : -50px;
    width: 500px;
    height: 250px;
    background: #;
}


#rectangle_2_ek5 {
    top: -1px;
    : -1px;
    width: 500px;
    height: 250px;
    border: 1px solid #000000;
    background: rgba(157.25,157.25,157.25,1);
}


#__________________________________________1 {
    top: 74px;
    : -4px;
    width: 507px;
    height: 109.5px;
    overflow: hidden;
    font-family: Inter;
    font-size: 25px;
    text-align: center;
    color: #000000;
}

#__________ek3 {
    top: 0px;
    : 1px;
    width: 500px;
    height: 51px;
}

#_bg____________ek4 {
    top: -251px;
    : -50px;
    width: 500px;
    height: 51px;
    background: #;
}


#__________ek5 {
    top: 0px;
    : 0px;
    width: 500px;
    height: 50px;
}


#_______ {
    top: 12px;
    : -3px;
    width: 507px;
    height: 46.5px;
    overflow: hidden;
    font-family: Inter;
    font-size: 25px;
    text-align: center;
    color: #FFFFFF;
}

#_______ek2 {
    top: 149px;
    : 320px;
    width: 1237px;
    height: 65px;
}

#_bg_________ek3 {
    top: 0px;
    : 0px;
    width: 1237px;
    height: 65px;
    background: #;
}

#________ek1 {
    top: 2px;
    : 272px;
    width: 332px;
    height: 63px;
}

#_bg__________ek2 {
    top: -2px;
    : -272px;
    width: 332px;
    height: 63px;
    background: #;
}


#rectangle_2_ek6 {
    top: 0px;
    : 0px;
    width: 332px;
    height: 63px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    background: rgba(73.51,73.51,73.51,1);
}


#___________________ {
    top: 0px;
    : -4px;
    width: 340px;
    height: 70.5px;
    overflow: hidden;
    font-family: Inter;
    font-size: 25px;
    line-height: 65.5px;
    text-decoration: underline;
    text-align: center;
    color: #FFFFFF;
}

#_______ek4 {
    top: 2px;
    : 627px;
    width: 332px;
    height: 63px;
}

#_bg_________ek5 {
    top: -2px;
    : -627px;
    width: 332px;
    height: 63px;
    background: #;
}


#rectangle_2_ek7 {
    top: 0px;
    : 0px;
    width: 332px;
    height: 63px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    background: rgba(73.51,73.51,73.51,1);
}


#__________________ {
    top: 0px;
    : -4px;
    width: 340px;
    height: 68.5px;
    overflow: hidden;
    font-family: Inter;
    font-size: 25px;
    line-height: 63.5px;
    text-decoration: underline;
    text-align: center;
    color: #FFFFFF;
}


#_bg_______ek1 {
    top: 0px;
    : 0px;
    width: 248px;
    height: 63px;
    background: #;
}


#rectangle_2_ek8 {
    top: 2px;
    : 0px;
    width: 248px;
    height: 63px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    background: rgba(73.51,73.51,73.51,1);
}


#_____________ {
    top: 2px;
    : -4px;
    width: 256px;
    height: 70.5px;
    overflow: hidden;
    font-family: Inter;
    font-size: 25px;
    line-height: 65.5px;
    text-decoration: underline;
    text-align: center;
    color: #FFFFFF;
}


#_bg______ek1 {
    top: 0px;
    : 0px;
    width: 256px;
    height: 63px;
    background: #;
}


#rectangle_2_ek9 {
    top: 0px;
    : 981px;
    width: 256px;
    height: 63px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    background: rgba(73.51,73.51,73.51,1);
}


#_______________ek4 {
    top: 2px;
    : 977px;
    width: 264px;
    height: 68.5px;
    overflow: hidden;
    font-family: Inter;
    font-size: 25px;
    line-height: 63.5px;
    text-decoration: underline;
    text-align: center;
    color: #FFFFFF;
}

#_____ {
    top: 149px;
    : 49px;
    width: 245px;
    height: 63.06px;
}

#_bg________ek1 {
    top: 0px;
    : 0px;
    width: 245px;
    height: 63.06px;
    background: #;
}


#rectangle_1 {
    top: 0px;
    : 0px;
    width: 245px;
    height: 63.06px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    background: rgba(73.51,73.51,73.51,1);
}


#__________________ek1 {
    top: 0px;
    : -4px;
    width: 253px;
    height: 70.5px;
    overflow: hidden;
    font-family: Inter;
    font-size: 25px;
    line-height: 65.5px;
    text-align: center;
    color: #9D9D9D;
}

#top_sh_1 {
    top: 34px;
    : 56px;
    width: 303px;
    height: 82px;
}

#_bg__top_sh_1_ek1 {
    top: 0px;
    : 0px;
    width: 303px;
    height: 82px;
    background: #;
}


#top_sh_1_ek2 {
    top: 0px;
    : 0px;
    width: 303px;
    height: 82px;
}



/* Add your custom CSS here */

