@model MO.DA.FORM.Models.User

@{
    ViewData["Title"] = "Details";
}

<h1>Профиль</h1>

<div style="margin:60px 0px 100px;">
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Имя
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            Почта
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>       
        <dt class = "col-sm-2">
            Группа
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.group)
        </dd>
    </dl>
</div>
<div style="margin-bottom:90px;">
    <a asp-action="Edit" asp-route-id="@Model?.id">
        <button class="btn btn-light">
            Редактировать
        </button>
    </a>
</div>
