@model MO.DA.FORM.Models.User

@{
    ViewData["Title"] = "Edit";
}

<link rel="stylesheet" href="~/css/Form.css"/>

<div class="row">
    <div class="col-md-4">
        <h1 aligin="centered">Изменение информации</h1>
        <form asp-action="Edit" class="reg_form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="name" class="control-label">Имя</label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="control-label">Почта</label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="password" class="control-label">Пароль</label>
                <input asp-for="password" class="form-control" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="group" class="control-label">Группа</label>
                <input asp-for="group" class="form-control" />
                <span asp-validation-for="group" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

