@page
@{
    <h1>Tekstbox</h1>
    <div style="width: 100%; height: 100%; position: relative; background: #2C2C2C">
    <div style="width: 1600px; height: 635px; left: 2px; top: 176px; position: absolute; background: #9D9D9D; border: 1px black solid"></div>
    <img style="width: 303px; height: 82px; left: 55px; top: 41px; position: absolute" src="https://via.placeholder.com/303x82" />
    <div style="width: 1189px; height: 91px; left: 395px; top: 41px; position: absolute">
        <div style="width: 1189px; height: 89.22px; left: 0px; top: 0px; position: absolute; background: #4A4A4A; border-radius: 30px"></div>
        <div style="width: 1185.06px; height: 91px; left: 1.97px; top: -0px; position: absolute; text-align: center; color: #9D9D9D; font-size: 25px; font-family: Inter; font-weight: 400; word-wrap: break-word">Введите название новости</div>
    </div>
    <div style="width: 1207px; height: 91px; left: 207px; top: 1298px; position: absolute">
        <div style="width: 1207px; height: 89.22px; left: 0px; top: 0px; position: absolute; background: #4A4A4A; border-radius: 30px"></div>
        <div style="width: 1205px; height: 91px; left: 2px; top: 0px; position: absolute; text-align: center; color: white; font-size: 35px; font-family: Inter; font-weight: 400; word-wrap: break-word">Опубликовать</div>
    </div>
    <div style="width: 1597px; height: 1024px; left: 3px; top: 176px; position: absolute; color: #6A6A6A; font-size: 56px; font-family: Inter; font-weight: 400; word-wrap: break-word">Введите текст</div>
    <div style="width: 1535px; height: 85px; left: 33px; top: 861px; position: absolute">
        <div style="width: 1535px; height: 84.75px; left: 0px; top: 0px; position: absolute; background: #D9D9D9; border-radius: 30px"></div>
        <div style="width: 1535px; height: 85px; left: 0px; top: 0px; position: absolute; text-align: center; color: #4A4A4A; font-size: 25px; font-family: Inter; font-weight: 400; word-wrap: break-word">Выберете группы из списка, которые смогут увидететь данную новость</div>
    </div>
    <div style="width: 1535px; height: 85px; left: 33px; top: 861px; position: absolute">
        <div style="width: 1535px; height: 84.75px; left: 0px; top: 0px; position: absolute; background: #D9D9D9; border-radius: 30px"></div>
        <div style="width: 1535px; height: 85px; left: 0px; top: 0px; position: absolute; text-align: center; color: #4A4A4A; font-size: 25px; font-family: Inter; font-weight: 400; word-wrap: break-word">Выберете группы из списка, которые смогут увидететь данную новость</div>
    </div>
    <div style="width: 1602px; height: 190px; left: 0px; top: 1027px; position: absolute">
        <div style="width: 159px; height: 36px; left: 226px; top: 110px; position: absolute">
            <div style="width: 20px; height: 20px; left: 0px; top: 9px; position: absolute; background: #D9D9D9"></div>
            <div style="width: 139px; left: 20px; top: 0px; position: absolute; text-align: center; color: white; font-size: 30px; font-family: Inter; font-weight: 400; word-wrap: break-word">Учебная</div>
        </div>
        <div style="width: 368px; height: 72px; left: 627px; top: 92px; position: absolute">
            <div style="width: 20px; height: 20px; left: 0px; top: 27px; position: absolute; background: #D9D9D9"></div>
            <div style="width: 348px; left: 20px; top: 0px; position: absolute; text-align: center; color: white; font-size: 30px; font-family: Inter; font-weight: 400; word-wrap: break-word">Олимпиады/конкурсы/стажировки</div>
        </div>
        <div style="width: 140px; height: 36px; left: 1302px; top: 110px; position: absolute">
            <div style="width: 20px; height: 20px; left: 0px; top: 9px; position: absolute; background: #D9D9D9"></div>
            <div style="width: 114px; left: 26px; top: 0px; position: absolute; text-align: center; color: white; font-size: 30px; font-family: Inter; font-weight: 400; word-wrap: break-word">Другая</div>
        </div>
        <div style="width: 1602px; left: 0px; top: 12px; position: absolute; text-align: center; color: white; font-size: 45px; font-family: Inter; font-weight: 400; word-wrap: break-word">Выберете тип новости:</div>
        <div style="width: 1596.02px; height: 0px; left: 3.98px; top: 0px; position: absolute; border: 3px #D9D9D9 dotted"></div>
        <div style="width: 1596.02px; height: 0px; left: 3px; top: 190px; position: absolute; border: 3px #D9D9D9 dotted"></div>
    </div>
</div>
}
